
@{
    ViewData["Title"] = "DisplayGrades";
}

<h1>Display Grades</h1><br />

@model PrincipleViewModel
<table class="table-space table-bordered-space">
    <tr>

        <th>Grades</th>
        <th>Student</th>
        <th>Quiz</th>
        <th>Classroom</th>
        <th>Teacher Name</th>
        <th>Remove Grade</th>
    </tr>
    @foreach (Grades g in Model.grades)
    {
        <tr>
            <td>@g.Grade%</td>
            <td>@g.Student.FirstName @g.Student.LastName</td>
            <td>@g.Quiz.QuizType</td>
            <td>@g.Student.Classroom.ClassName</td>
            <td>@g.Student.Classroom.Teacher.FirstName @g.Student.Classroom.Teacher.LastName</td>
            <td><a class="btn btn-primary btn-sm regularText" href="../Administration/DeleteGrade?id=@g.Id">Delete grade</a></td>
        </tr>

    }



</table>