
@{
    ViewData["Title"] = "DisplayClassrooms";
}

<h1>DisplayClassrooms</h1><br />
@model PrincipleViewModel
<table class="table-space table-bordered-space">
    <tr>
        <th>Class Name</th>
        <th>Student names</th>
        <th>Teacher Name</th>
        <th>Remove Class</th>
    </tr>
    @foreach (Classrooms c in Model.classrooms)
    {
        <tr>
            <td>@c.ClassName</td>
            <td>
                @foreach (Students s in Model.students)
                {
                    @if (s.ClassroomId == c.Id)
                    {
                        @s.FirstName @s.LastName<br />
                    }
                }
            </td>
            @if(c.Teacher!=null)
            {
        <td>@c.Teacher.FirstName @c.Teacher.LastName</td>
            }
            
            <td><a class="btn btn-primary btn-sm regularText" href="../Administration/DeleteClassroom?id=@c.Id">Remove Class</a></td>
        </tr>
    }

</table>

