
@{
    ViewData["Title"] = "Index";
}
@model PrincipleViewModel

@{ int count = 0; }

<h4>Head Count</h4><br />
<table class="table-bordered-space table-space">
    <tr>
        <th>Identity Role Name</th>
        <th>Head Count</th>
    </tr>
    @foreach (AspNetRoles r in Model.roles)
    {
        <tr>
            <td>@r.Name</td>
            @foreach (AspNetUserRoles userRole in Model.userRoles)
            {
                @if (userRole.RoleId == r.Id)
                {
                    count++;
                }
            }

            <td>@count</td>
            @{count = 0;}
        </tr>
    }
    <tr>
        <td>Total Head Count</td>
        <td>@Model.users.Count</td>
    </tr>

</table>
<br />
<br />

<h4>Organization Chart</h4><br />
<table class="table-bordered-space table-space">
    <tr class="d-table-row">
        <th>Teacher Name</th>
        <th>Teacher Class</th>
        <th>Students</th>
        <th>Student Class</th>
        <th>Average Grade</th>
    </tr>
    @foreach (Teachers t in Model.teachers)
    {
        <tr class="d-table-row">
            <td>@t.FirstName @t.LastName</td>
            <td>
                @foreach (Classrooms c in Model.classrooms)
                {
                    if (c.Teacher.FirstName == t.FirstName)
                    {
                        @c.ClassName<br />
                    }
                }
            </td>
            <td>
                @foreach (Students s in Model.students)
                {
                    if (s.Classroom.Teacher == t)
                    {
                        <p>@s.FirstName @s.LastName </p><br />
                    }
                }
            </td>
            <td>
                @foreach (Students s in Model.students)
                {
                    if (s.Classroom.Teacher == t)
                    {
                        <p>@s.Classroom.ClassName </p><br />
                    }
                }
            </td>
            <td>
                @foreach (Students s in Model.students)
                {
                    if (s.Classroom.Teacher == t)
                    {
                        <p>@s.AverageGrade% </p><br />
                    }
                }
            </td>
        </tr>
    }
</table>

<br />
<br />
<h4>Dean's List</h4><br />

<table class="table-bordered-space table-space">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Teacher Name</th>
        <th>Average Grade</th>
    </tr>

    @foreach (Students cvm in Model.studentsOnDeansList)
    {
        <tr>
            <td>@cvm.FirstName</td>
            <td>@cvm.LastName</td>
            <td>@cvm.Classroom.Teacher.FirstName @cvm.Classroom.Teacher.LastName</td>
            <td>@cvm.AverageGrade%</td>

        </tr>
    }
</table>
<br />
<br />
<h4>List of Students With Difficulty</h4><br />

<table class="table-bordered-space table-space">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Teacher Name</th>
        <th>Average Grade</th>
    </tr>

    @foreach (Students cvm in Model.studentsWithDifficulty)
    {
        <tr>
            <td>@cvm.FirstName</td>
            <td>@cvm.LastName</td>
            <td>@cvm.Classroom.Teacher.FirstName @cvm.Classroom.Teacher.LastName</td>
            <td style="color:darkred">@cvm.AverageGrade%</td>

        </tr>
    }
</table>


