
@{
    ViewData["Title"] = "AddQuestionsbankToDb";
}
@model Questionsbank
<h1>AddQuestionsbankToDb</h1>

    <h2>Questionsbank id: @Model.Id</h2>
    <h2>Quiz is: @Model.Quiz</h2>
    <h2>Quiz id is: @Model.QuizId</h2>
    <h2>Question is: @Model.Question</h2>
    <h2>Question id is: @Model.QuestionId</h2>

