@model Classrooms
@{
    ViewData["Title"] = "ClassroomView";
}

<h1 class="float-left">Classroom: @Model.ClassName</h1><h1 class="float-right">Class Average: @Model.ClassAvg%</h1>

@if (ViewBag.MyStudents == null)
{
    <p>There are no students currently in this class.</p>
}
else
{
    <table class="table-bordered-space table-space">
        <tr>
            <th>Student First Name</th>
            <th>Student Last Name</th>
            <th>Grade</th>
        </tr>
        @foreach (Students s in ViewBag.MyStudents)
        {
            if (s.ClassroomId == Model.Id)
            {
                <tr>
                <td><a href="../Teacher/StudentGrades?id=@s.Id">@s.FirstName</a></td>
                <td><a href="../Teacher/StudentGrades?id=@s.Id">@s.LastName</a></td>
                @if (s.AverageGrade == null)
                {
                    <td>N/A</td>
                }
                else
                {
                    <td>@s.AverageGrade%</td>
                }
            </tr>
            }
            
        }
        
    </table>
}
