
@{
    ViewData["Title"] = "LeaderBoard";
}

<h1>LeaderBoard</h1>

@model ClassroomsViewModel

<h2>Classroom leader board</h2>
<table class="table">
    <tr>
        <th>Teacher Name</th>
        <th>Class Name</th>
        <th>Class Average</th>
    </tr>
    @foreach (Classrooms cr in Model.Classroom)
    {
        if (cr.ClassAvg != null)
        {
            <tr>
                @if (cr.Teacher != null)
                {
                    <td>@cr.Teacher.FirstName @cr.Teacher.LastName</td>
                }
                <td>@cr.ClassName</td>
                @if (cr.ClassAvg != null)
                {
                    <td>@cr.ClassAvg</td>
                }
            </tr>
        }
    }
</table>

<table class="table">
    <tr>
        <th>Quiz 1</th>
        <th>Quiz 2</th>
        <th>Quiz 3</th>
    </tr>
    <tr>
        <td>@Model.QuizAverage1</td>
        <td>@Model.QuizAverage2</td>
        <td>@Model.QuizAverage3</td>
    </tr>
</table>