
@{
    ViewData["Title"] = "LeaderBoard";
}

@model ClassroomsViewModel

<h2>Classroom leader board</h2><br />
<table class="table-bordered-space table-space">
    <tr>
        <th>Teacher Name</th>
        <th>Class Name</th>
        <th>Class Average</th>
    </tr>
    @foreach (Classrooms cr in Model.Classroom)
    {
        if (cr.ClassAvg != null)
        {
            <tr>
                @if (cr.Teacher != null)
                {
                    <td>@cr.Teacher.FirstName @cr.Teacher.LastName</td>
                }
                <td>@cr.ClassName</td>
                @if (cr.ClassAvg != null)
                {
                    <td>@cr.ClassAvg%</td>
                }
            </tr>
        }
    }
</table>
<br /><br />
<h2>Quiz Averages</h2>
<br />
<table class="table-bordered-space table-space">
    <tr>
        <th><center>What am I?</center></th>
        <th><center>Planets Quiz</center></th>
        <th><center>Moon Quiz</center></th>
    </tr>
    <tr>
        <td align="center">@Model.QuizAverage1%</td>
        <td align="center">@Model.QuizAverage2%</td>
        <td align="center">@Model.QuizAverage3%</td>
    </tr>
</table>